#container-button {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  padding: 60px 60px;
}

#container-button h4 {
  font-size: 18px;
}

#line {
  margin-top: -60px;
  margin-left: 0px;
}

#line .line-border {
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(
    --gray
  ); /* menggunakan variabel warna yang sudah didefinisikan sebelumnya */
  width: 80.5%;
  margin-left: -60px;
  margin-top: 10px;
}

#line .line-bold {
  position: absolute;
  content: "";
  height: 4px;
  background-color: var(
    --brown
  ); /* menggunakan variabel warna yang sudah didefinisikan sebelumnya */
  width: 45%;
  margin-left: -60px;
  margin-top: 10px;
}

#container-button .line-active {
  z-index: 99;
  position: absolute;
  content: "";
  height: 4px;
  background-color: var(
    --blue
  ); /* menggunakan variabel warna yang sudah didefinisikan sebelumnya */
  width: 22%;
  margin-left: -70px;
  margin-top: 10px;
}

#container-button-belumVerifikasi.active,
#container-button-sudahVerifikasi.active {
  color: var(
    --blue
  ); /* menggunakan variabel warna yang sudah didefinisikan sebelumnya */
}
