:root{
    --lightgrey: #AEAEAE;
    --blue: #295EF4;
    --black: #282828;
}

#kamar{
    padding: 40px 20px;
}

#kamar #kamar_content{
    background-color: white;
    border-radius: 20px;
}

#kamar #kamar_content .add{
    padding: 5px 20px;
    border-radius: 30px;
        display: block;
        width: 150px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #1F9254;
    text-decoration: none;
    color: white;
}


/* Modal css */
.modal-content {
    border-radius: 20px;
}

.modal-header {
    display: flex;
    justify-content:center;
}
.modal-header, .modal-footer {
    border: none;
}

.modal-header h5{
    position:absolute;
    justify-content:center;
    top:30px;
}

.modal-body .input-group{
    padding: 0 30px;
    display:flex;
    flex-direction:column;
}

.modal-body .input .form-controll{
    margin: 20px 0;
    border-radius:20px;
    font-size: 14px;
    padding: 10px 10px;
    width:400px;
    border:1px solid var(--lightgrey);
}

.modal-body .input .form-controll:focus{
    outline: none;
}

.modal-footer .back, .next{
    background-color: #1B3359;
    border-radius: 10px;
    font-size: 12px;
    border: none;
}

#progress-data{
    display: flex;
    gap: 75px;
    justify-content: center;
    margin-top:40px;
}

.active-data .angka{
    border-radius: 50px;
    background-color: var(--lightgrey);
    color: var(--black);
    height: 20px;
    width: 20px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.actived .angka{
    background-color: var(--blue);
    color: white;
    font-weight: 600;
}

.actived #title-progress{
    font-weight: 1000;
}

#progress-data .title-progress::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--lightgrey);
    width: 20%;
    margin-left:-12px;
    margin-top:-10px;
}

#input-ukuran-kamar{
    display: flex;
    align-items: center;
    gap: 20px;
}

#input-ukuran-kamar p{
    margin-top: auto;
    margin-bottom: auto;
}

#input-ukuran-kamar .form-controll{
    width: 50%;
}

/* modal foto */
.modal-body .foto {
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.modal-body .foto .foto-group{
    display:flex;
    justify-content:center;
    gap: 10px;
    text-align: center;
    align-items: center;
    flex-wrap:wrap;
    border: 1px solid var(--lightgrey);
}

.modal-body .foto img{
    width: 110px;
}