:root {
  --lightgrey: #aeaeae;
  --blue: #295ef4;
  --black: #282828;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

#back1,
#next1,
#back2,
#next2 {
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.modal-body {
  padding: 5px 30px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-body .container-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-group-double {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group-double p {
  margin-top: auto;
  margin-bottom: auto;
}

.modal-body .input-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#group-kategori {
  display: flex;
  justify-content: space-evenly;
}

.modal-body .input-group .kategori-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70px;
  text-align: center;
}

/* #group-kategori {
    display: flex;
    flex-direction: column;
  } */

.modal-body .input-group input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
}
